<!--  La directive structurelle -->
<p>
  my-
  <span
    *ngIf="states.isFirst1; else secondBlock1"
    (click)="firstOrSecond('isFirst1', $event)"
    class="first"
    >first</span
  >
  <ng-template #secondBlock1>
    <span (click)="firstOrSecond('isFirst1', $event)" class="second">second</span>
  </ng-template>
  works!
</p>
<!-- Directive d'attribut -->
<p>
  my-<span
    (click)="firstOrSecond('isFirst2', $event)"
    [ngClass]="states.isFirst2 ? 'first' : 'second'"
    >{{ states.isFirst2 ? "David" : "Jerome" }}</span
  >
  works!
</p>
